html{
    background: url('image.jpg') no-repeat center fixed;
    background-size: cover;
}
body{
    background-color: coral;
    width: 475px;
    padding-top: 7px;
    padding-bottom: 30px;
    margin: 100px auto;
    border-radius: 12px;
}
h1{
    font-size: 30px;
    font-variant: small-caps;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
li{
    margin-bottom: 10px;
}
button{
    background-color: gray;
    padding: 5px 50px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
#disp{
    border: 1px solid red;
    padding:15px;
    font-size: 17.5px;
    line-height: 20px;
    letter-spacing: 0.5px;
}